[Unit]
Description=Mattermost
After=syslog.target network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/mattermost/{{ mattermost_version }}/bin
User={{ mattermost_user }}
ExecStart=/opt/mattermost/{{ mattermost_version }}/bin/platform
PIDFile=/var/spool/mattermost/pid/master.pid

[Install]
WantedBy=multi-user.target
